---
layout: page
title: Gallery
permalink: /gallery/
---

<div class="collection-grid">
  {% for collection in site.data.collections %}
    {% assign cover = site.data.photos | where_exp: "p", "p.tags contains collection.slug" | first %}
    <a class="collection-tile" href="{{ site.baseurl }}/gallery/{{ collection.slug }}/">
      {% if cover %}
        <img src="{{ cover.src }}" alt="{{ collection.name }}">
      {% else %}
        <div class="collection-tile-placeholder"></div>
      {% endif %}
      <span class="collection-tile-label">{{ collection.name }}</span>
    </a>
  {% endfor %}
</div>